// color palette
// note: design had more hues, amount of colors decreased intentionally

$colorMain: #E3151A;
$colorBackground: #F6F6F6;
$colorBorder: #DDDDDD;
$colorAccent: #78B428;
$colorLink: #2697F0;
$colorSecondaryBlue: #0F75C5;
$colorError: #4B4B4B;

// todo: add standard paddings, margins, etc